  <!-- As a heading -->
  <nav  class="navbar navbar-dark ps-3 bg-dark">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </nav>
  <main dir="rtl">

    <h1 class="visually-hidden">Sidebars examples</h1>
    <img src="assets/image/OIF.gpj"  style="width: 150px;height: 40px"  alt="testtesttest">

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark menu">
      
        <span class="fs-4">نظام إدارة الشقق</span>
      
      <hr>
      
      <ul class="nav nav-pills flex-column mb-auto pe-0">
   
        <li class="nav-item">
          <a href="AddAparment" class="nav-link active" aria-current="page">
              <i class="fas fa-home"></i> 
              اضافه شقه
          </a>
      </li>
      
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fas fa-search"></i>
            البحث عن الشقق
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <i class="fas fa-plus"></i> 
            اضافه صتف جديد
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <i class="fas fa-search"></i>
            البحث عن الاصناف
        </a>
    </li>
    <li>
        <a href="#" class="nav-link text-white">
            <i class="fas fa-users"></i> 
            Customers
        </a>
    </li>
      </ul>
      <hr>
   
      <!-- <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div> -->
    </div>
   
  </main>
